body {
  font-family: "Verdana", sans-serif;
  font-size: 13px;
}

.slogan {
  position: absolute;
  top: 65%;
  left: 50%;
  z-index: 3;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
       -moz-transform: translate3d(-50%,-50%,0);
        -ms-transform: translate3d(-50%,-50%,0);
         -o-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
}

.slogan_end {
  text-decoration: underline;
}

.social_icons {
  position: absolute;
  top: 5%;
  left: 7%;
  z-index: 3;
  font-size: 2px;
    -webkit-transform: translate3d(-50%,-50%,0);
       -moz-transform: translate3d(-50%,-50%,0);
        -ms-transform: translate3d(-50%,-50%,0);
         -o-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
}

.logo {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 3;
    -webkit-transform: translate3d(-50%,-50%,0);
       -moz-transform: translate3d(-50%,-50%,0);
        -ms-transform: translate3d(-50%,-50%,0);
         -o-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
}

.clients_header {
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 3;
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
       -moz-transform: translate3d(-50%,-50%,0);
        -ms-transform: translate3d(-50%,-50%,0);
         -o-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
}

.clients_item {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  text-align: center;
    -webkit-transform: translate3d(-50%,-50%,0);
       -moz-transform: translate3d(-50%,-50%,0);
        -ms-transform: translate3d(-50%,-50%,0);
         -o-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
}

.form-control {
  border-radius: 0;
}

.thumbnail {
  background-color: #222222;
  border-radius: 0;
  border: none;
}

.contact-header {
  text-decoration: underline;
}

footer {
	background-color: #222222;
  padding: 20px 0px;
}

.footer_text {
  color: #fff;
}

.footer_link {
  color: #fff;
}
.footer_link:hover {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 565px) {
  .slogan {
    position: absolute;
    top: 65%;
    left: 52%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
  }
  .slogan h2 {
    font-size: 15px;
  }

  .social_icons {
    position: absolute;
    top: 5%;
    left: 18%;
    z-index: 3;
    font-size: 2px;
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
  }

  .social_icons img {
    width: 20%;
  }

  .logo {
    position: absolute;
    top: 35%;
    left: 62%;
    z-index: 3;
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
  }
  .logo img {
    width: 50%;
  }

}

@media (min-width: 565px) and (max-width: 768px) {
  .slogan {
    position: absolute;
    top: 65%;
    left: 52%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
  }
  .slogan h2 {
    font-size: 18px;
  }

  .social_icons {
    position: absolute;
    top: 5%;
    left: 15%;
    z-index: 3;
    font-size: 2px;
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
  }

  .social_icons img {
    width: 20%;
  }

  .logo {
    position: absolute;
    top: 35%;
    left: 55%;
    z-index: 3;
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
  }
  .logo img {
    width: 70%;
  }

}
